.parrafo {
    font-family: 'Oleo Script Swash Caps', cursive;
    text-transform: capitalize;
    font-size: 30px;
    height: 250px;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.199), rgba(255, 255, 255, 0.555)), url(../assets/imagenes/fondo_huesitos.jpg);
    background-size: cover;

    h2{
        animation-duration: 2s;
        animation-name: aparecer;
        animation-delay: 5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        padding-top: 25px;    
    }
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

iframe {
    width: 100%;
    height: 500px;
    border: 2px solid;
}

.imginicio{
    background-image: url(../assets/imagenes/castracion.jpg);
    background-size: cover;
    width: auto;
    height: 500px;
    

    h2{
        font-family: 'DynaPuff', cursive;
        color: orange;
        text-align: center;
        margin: 5px;
        margin-top: 10px;
    }

    p{
        font-family: 'Saira Condensed', sans-serif;
        color: white;
        text-align: center;
        letter-spacing: 2px;
        margin: 0 10px 0 10px; 
        font-size: 20px;
    }
}

.item4 {
    background-image: url("../assets/imagenes//pirotecnia.jpg");
    width: auto;
    height: 350px;
    background-size: cover;
    background-position: center;
    border: 2px solid;
    

    h2{
        font-family: 'DynaPuff', cursive;
        color: orange;
        text-align: center; 
        margin-top: 10px;   
    }

    p{
        font-family: 'Saira Condensed', sans-serif;
        color: white;
        text-align: center;
        letter-spacing: 2px;
        margin: 0 10px 0 10px;
        font-size: 20px;   
    }
}


.item5 {
    background-image: url("../assets/imagenes/maltrato.jpg");
    width: auto;
    height: 500px;
    background-size: cover;
    background-position: center;
    border: 2px solid;
    
    h2{
        font-family: 'DynaPuff', cursive;
        color: orange;
        text-align: center;
        margin-top: 10px;    
    }

    p{
        font-family: 'Saira Condensed', sans-serif;
        color: white;
        text-align: center;
        color: red;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0 10px 0 10px; 
        font-size: 20px;
    }
}

.contgrid{
    display: grid;
}

.imgconcientizacion{
    display: grid;
}



@media only screen and (min-width:850px){

.parrafo{
    height: 150px;

    h2{
        font-size: 35px;
        letter-spacing: 1px;
    }
}

.contgrid{
    grid-template-columns: 50% 50%;

    iframe{
        grid-column: 1/2;    
    }

    .imginicio{
        grid-column: 2/3;
    }
}
    
    .imgconcientizacion{
        grid-template-columns: 50% 50%;

        .item4{
            grid-column: 1/2;
            height: auto;
        }

        .item5{
            grid-column: 2/3;
        }
    }

}

@media only screen and (min-width:1500px){

.item4 p{
    font-size: 30px;
}

.item5 p{
    font-size: 30px;
}

.imginicio p{
    font-size: 30px;
}
}


